@charset "UTC-8";




header {
    background-color: rgba(59, 25, 25, 0.719);
    background-image: linear-gradient(to right,rgba(59, 25, 25, 0.897), rgba(105, 101, 101, 0.247));
}

.nome-da-loja {
    text-align: center;
    padding-top: 10px;
}





nav {
    text-align: center;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: orangered;
    padding: 10px 10px 0px 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav > a:hover {
    color: white;
    padding-bottom: 0px;
}

#banner01 {
    background-image: url(/imagens/mesa300px.PNG);
    background-position:  center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    position: relative;
}

#botao-contato {
    font-size: bolder;
    text-decoration: none;
    color: white;
    background-color: rgba(17, 17, 17, 0.897);
    padding: 25px 75px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-radius: 2px;
}

#botao-contato:hover {
    font-size: bolder;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 2px;
}

main {
    background-color: salmon;
    
}

body {
    background-color: rgb(88, 79, 79);
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    position: relative;

}

#mesa-com-banquinhos {
    position: absolute;
    top: -80px;
    left: 550px;
}